<template>
  <gl-banner
    title="Upgrade your plan to activate Service Desk"
    button-text="Upgrade your plan"
    button-link="https://gitlab.com"
    svg-path="https://gitlab.com/gitlab-org/gitlab-svgs/raw/v1.152.0/illustrations/service_desk_callout.svg"
  >
    <p>
      GitLab Service Desk is a simple way to allow people to create issues in your GitLab instance
      without needing their own user account. It provides a unique email address for end users to
      create issues in a project, and replies can be sent either though the GitLab interface or by
      email. End users will only see the thread though email.
    </p>
  </gl-banner>
</template>
